@{
    ViewBag.Title = "Notfound";
}

<h2>Notfound</h2>

<h4>Die angeforderte Seite steht wurde leider nicht gefunden.</h4>
<br/>
<br/>

@Html.ActionLink("What the Fuck heißt REDIRECTED","Index","Home")